.editpage {
  form {
    .required {
    display: flex;
    justify-content: space-between;
      label {
        margin: auto 0;
        font-weight: bold;
        // width: 40vw;
      }
      input {
        width: 60%;
      }
    }
  }
}
