// Specific CSS for your home-page
body {
  background-color: #9B9394;
}

.content {
  background-color: #D4DDE4;
  overflow: hidden;
}

.textcenter {
 text-align: center
}

 .introheader > h1 {
  font-weight: bold;
  text-align: center;
 }

 .pages_uniquecode > label {
  display: none
}
