// Specific CSS for your home-page
body {
  background-color: #F09663;
  width: 80%;
}

.content {
  background-color: #9B9394;
  padding: 20px;
  width: 550px;
  margin: auto;
}

.textcenter {
 text-align: center
}

.footer {
  margin-top: 20px;
 }

 .introheader {
  border-bottom: 20px;
 }

 abbr {
  display: none
}
