// Import page-specific CSS files here.
@import "home";
@import "new";
@import "confirmed";
@import "edit";

abbr {
  display: none;
}

h1 {
  color: #112A46;
}

p {
  color: #112A46;
}

h2 {
  color: #112A46;
}
