.new-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}

.left-body {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 32px;
}

.right-body {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 32px;
}

.new-note {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #F8F3D6;
  color: #967138;
  border-radius: 8px;
  p {
    font-weight: 400;
  }
  h3 {
    font-weight: 600;
    text-align: center;
  }
}

.new-staples {
  border: black ;
  border-radius: 8px;
  overflow: hidden;
}

.new-baskets {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #D4DDE4;
  border-radius: 8px;
  margin-bottom: 16px;

  h3 {
    font-weight: 600;
    color: #112A46;
    text-align: center;
  }

  .text-orange {
    color: #F09663;
  }

  p {
    color: white;
    text-align: center;
    color: #112A46;
  }


  .basket-tables {
    display: flex;
    justify-content: space-between;

    .table-header {
      font-weight: bold;
    }

    .item {
    width: 100px
    }

    .cost {
      width: 100px
      }
    .number {
      width: 100px;
    }
  }

  .basket-note {
    width: 250px;
    align-self: center;
  }
}

.new-reminder {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #114546;
  color: #EAE2E2;
  border-radius: 8px;
  p {
    font-weight: 400;
  }
  h3 {
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-weight: 600;
    text-align: center;
  }
}

.new-footer {
  p {
    text-align: center;
  }
}

.staples-header{
  display: flex;
  margin-bottom: 16px;

  .header {
    font-weight: 600;
    margin: 0 0 0 36px;
  }

  .item {
    width: 270px;
    display: flex;
    align-items: center;

    p {
      padding-left: 16px;
      padding-right: 16px;
      margin: 0;
    }

  }

  .credit {
    width: 50px;
    display: flex;
    align-items: center;
    p {
      margin: 0
    }
  }

  .selection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 130px;
  }
}


// .accordion {

// }

.accordion-header{
  background-color: #F09663;
}

.accordion-item {
  border: none;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion-button{
  font-weight: 600;
  color: #F09663;
  background-color: #112A46;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  font-weight: 600;
  color: #F09663;
  background-color: #112A46;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media only screen and (max-width: 400px) {
  .left-body {
    margin: 48px 0 0 0;
    padding: 4px;
    width: 360px;
  }

  .right-body {
    margin: 0;
    padding: 4px;
    width: 360px;
  }
}
