<div class="content d-flex flex-column py-5 px-3 px-lg-5 rounded-4">
  <div class="introheader">
    <h1>Welcome to the 4PM ROW 2023!</h1>
  </div>
  <div class="textcenter mb-2">
    <p>Please input your code given by 4PM staff<br>
    Note: Only small letters</p>
  </div>
  <div class="textcenter">
    <%= render "pages/code", pages: @pages %>
  </div>
</div>

<div class="footer textcenter my-3">
  <p>Need Help?</p>
  <p class="m-0">Contact via Whatsapp</p>
  <p class="m-0">ROW Admin 83003852</p>
</div>
