<div class="content d-flex flex-column py-5 px-3 px-lg-5 rounded-4 col-12 col-lg-6">
  <div class="introheader">
    <h1>Welcome to the 4PM ROW 2023!</h1>
  </div>
  <div class="textcenter mb-2">
    <p>Please input your code given by 4PM staff<br>
    Note: Only small letters</p>
  </div>
  <div class="textcenter">
    <%= render "pages/code", pages: @pages %>
  </div>
</div>
<%= render "pages/footer" %>
