<div class="content">
  <h1>4PM ROW 2022 Site</h1>
  <p>Please input your code given by 4PM staff</p>
  <p>Note: Only small letters</p>

  <%= render "pages/code", pages: @pages %>
</div>

<div class="footer">
  <p>Help?</p>
  <p>Contact Reza 8198 0581</p>
</div>
