.common-button {
  background-color: #F09663;
  padding: 16px;
  border: none;
  gap: 8px;
  width: 230px;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: 600;
  align-self: center;
  color: #112A46
}
